.posterImage{
    height: 600px;
}

.posterImage img{
    width: 100%;
}



.posterImage__overlay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 5rem;
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0px;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
}

.posterImage__title{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0.4rem;
    }
   
.posterImage__runtime {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
.posterImage__rating {
        margin-left: 3rem;
    }

.posterImage__description{
    width: 50%;
    text-align: left;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

@media only screen and (max-width: 1000px) {
    .posterImage__title{
        font-size: 2rem;        
        }

        .posterImage__runtime {
            font-size: 1rem;
        
        }

        .posterImage__description{
            width: 50%;
            text-align: left;
            font-style: italic;
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }


        .posterImage{
            height: 400px;
        }
  }

  @media only screen and (max-width: 780px) {
    .posterImage__title{
        font-size: 2rem;        
        }

        .posterImage__runtime {
            font-size: 1rem;
        
        }

        .posterImage__description{
            display: none;
        }


        .posterImage{
            height: 300px;
        }
  }

  @media only screen and (max-width: 400px) {
    .posterImage__title{
        font-size: 1rem;        
        }

        .posterImage__runtime {
            font-size: 1rem;
        
        }

        .posterImage__rating {
            margin-left: 1rem;
        }

        .posterImage__description{
            display: none;
        }


        .posterImage{
            height: 220px;
        }
  }