@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.dark-theme{
  --headerbg: #2a0231;
  --headerText: #ececec; 
  --bg: #25003E;
  --Text: hsl(0, 0%, 93%);
  --Drawermenu : #fefefe;
  --searchInputBg: #004176;
  --searchInputText: #fefefe;
}

.light-theme{
  --headerbg: #004176;
  --headerText: #ececec; 
  --bg: #fefefe;
  --Text: #818080;
  --searchInputBg: #2a0231;
  --searchInputText: #fefefe;
}


a{
  text-decoration: none;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--Text);
}

