@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --headerbg: #2a0231;
  --headerText: #ececec; 
  --bg: #25003E;
  --Text: #ececec;
}


a{
  text-decoration: none;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--Text);
}

